.container {
    margin: 0px 20px 20px 20px;
    h1 {
        font-weight: 300;
    }
    .users {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
    }
}

