.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .add-user {
        align-self: flex-end;
    }
    .users {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
    }
}

