<mat-card>
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="avatarStyle()" class="avatar"></div>
        <mat-card-title>{{user.first_name}} {{user.last_name}}</mat-card-title>
        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-mini-fab [routerLink]="['edit-user', user.id]">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab (click)="openDeleteUserDialog()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>